.LoginMainBox{
    
    margin-right: 15%;
    margin-left: 15%;
    
}
.LoginInnerBox{
    
    margin-left: 34%;
    margin-right: 34%;
    margin-top: 5%;
    margin-bottom: 12%;
}
.LoginIcons{
    
}