
#video-player{
    padding-top: 2rem;
}
.video-second-box{
    background-color:black;
    height: 170vh;
    overflow-y: scroll;
    /* border:2px solid green */
   
 
}
.video-second-box::-webkit-scrollbar {
    display: none;
}
@media all and (min-width:768px) and (max-width:1024px){
    #video-player{
        width: 75vw;
        height: 50vh;
        margin: 15px auto;
    }
}
@media all and (min-width:320px) and (max-width:767px){
    #video-player{
        width:100vw;
        height: 45vh;
        margin: 15px auto;
    }
}

