.LoginMainBox{
    
    margin-right: 15%;
    margin-left: 15%;
    
}
.LoginInnerBox{
    
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 10%;
    margin-bottom: 12%;
}
.LoginIcons{
    
}