

.NavbarMainV{
    background-color:black;
    font-weight:400;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.NavbarFirstPartV{color:white;
padding: 2px;
gap:1.5rem;
margin-top: 2px;
margin-bottom: 2px;
}

.NavbarFirstPartV-Home
{
margin-top: 18px;
}
.NavbarFirstPartV-Tv{
    margin-top: 18px;
}
.NavbarFirstPartV-Movies{
    margin-top: 18px;
}
.NavbarFirstPartV-Option{
    margin-top: 20px;
}

.NavbarFirstPartV-Icon{

height: 50px;

}

.NavbarSecondPartV{color:white;
    padding: 2px;
    gap:1.5rem;
    margin-top: 2px;
    margin-bottom: 3px;
    margin-right: 15px;
    }
    .NavbarSecondpartV-Search{

width: 350px;
margin-top: 10px;
    }
    .NavbarSecondPartV-Lan{

margin-top: 15px;}
    .NavbarSecondPartV-Login{
background-color: black;
margin-top: 10px;
font-size: small;
}
    .NavbarSecondPartV-Buy{
        
background-color:darkorchid;
margin-top: 10px;
font-size: small;
border-radius: 5px;
}
    .NavbarSecondPartV-Menu{
color: white;
margin-top: 10px;
    }
    .NavbarSecondPartV-LanHindi{
        font-size:x-small;
    }
    .Crown{
        margin-right:5px
    }

    
    @media only screen and (max-width: 479px) {

        .NavbarSecondpartV-Search{
            width: 75%;
            margin-left: -15%;
padding-bottom: 5px;
        }
        .NavbarFirstPartV-Home{
            display: none;
        }
        .NavbarFirstPartV-Tv{
            display: none;
        }
        .NavbarFirstPartV-Movies{
            display: none;
        }
        .NavbarFirstPartV-Option{
            display: none;
        }
        .NavbarSecondPartV-Lan{
            display: none;
        }
        .NavbarMainV{
            background-color:black;
            font-weight:300;
            justify-content: space-between;
            padding-top: 3px;
            padding-left: 3px;
            padding-bottom: 3px;
        }
        .NavbarFirstPartV-Icon{
            height: 30px;
            margin-top: 10px;
        }
        .NavbarSecondPartV-Login{
            display:none
        }
        .NavbarSecondPartV-Buy{
            display: none;
        }

            }
            